:root {
  --primary-color: rgb(254, 209, 188, 70%);
  --secondary-color: #f7896e;
  --third-color: #feb483;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --box-shadow: 2px 2px 5px gray;
}

.hero {
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  width: 250px;
  margin: -50px;
}

.hero .hello {
  margin: -120px 10px 0px 0px;
  font-family: var(--secondary-font-family);
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

.hero button {
  background-color: var(--secondary-color);
  font-family: var(--primary-font-family);
  color: white;
  border: none;
  box-shadow: var(--box-shadow);
}

.hero button:hover {
  background-color: var(--third-color);
  color: white;
}

.container-fluid h2 {
  font-size: 64px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.container-fluid .projects {
    border: 10px solid var(--primary-color);
    border-radius: 5px;
}

.container-fluid p {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 30px;
}

.container-fluid .btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.container-fluid .btn-branding-outline:hover {
 border: 1px solid var(--secondary-color);
 color: black;  
}

@media (max-width: 900px) {
.logo {
  display: flex;
  margin-top: -120px;
  margin-left: -60px;
  width: 180px;
}
    .hero {
    padding: 80px 20px;
}
.hero h1 {
    font-size: 44px;
    line-height: 2;
}

.hero p {
    font-size: 25px;
}

    .container-fluid {
    text-align: center;
}
    .container-fluid h2 {
    font-size: 44px;
}
}