:root {
    --primary-color: #FED1BC;
    --secondary-color: #F7896E;
    --third-color: #FEB483;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Playfair Display", serif;
    --box-shadow: 2px 2px 5px gray;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding-bottom: 25px;
}

.logo {
    display: flex;
    width: 250px;
margin: -50px;
}

.hero .hello {
    margin: -120px 10px 0px 10px;
    font-family: var(--secondary-font-family);
}

.hero h1 {
    font-size: 96px;
    padding-bottom: 15px;
}

p {
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

.hero button {
    background-color: var(--secondary-color);
    font-family: var(--primary-font-family);
    color: white;
    border: none;
    box-shadow: var(--box-shadow);
}

.hero button:hover {
    background-color: var(--third-color);
    color: white;
}
